body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  width: 200px;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.eco-section {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
}

.eco-pictures {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.picture-container img {
  max-width: 100%;
  height: auto;
}

.eco-gallery {
  background-color: #f0f0f0;
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.image-card {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.image-card img {
  max-width: 100%;
  height: auto;
  width: 300px;
  height: 300px;
}

.profile {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}